# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules/

# Environment Variables
.env
.env.*
!.env.example

# Scratch directories
scratch/
server/scratch/
client/scratch/

# OS Files
.DS_Store
Thumbs.db

#Client gitignored files
client/.gitignore